.cart-container{
max-width: 1300px;
}
.cart_counter {
    margin: 30px;
    font-size: 28px;
}

.cart-item {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin-top: 30px;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

.cart-item__img img {
    padding: 20px;
    width: 200px;
    height: 200px;
}

.cart-item__top {

    padding: 20px;
}

.cart-item__title {
    font-weight: 600;
    font-size: 28px;
}

.cart-item__id {
    opacity: 0.5;
    font-size: 18px;
}

.price {
    margin: 20px;
}

.cart-item__details .price__currency {
    font-size: 18px;
    margin-left: 15px;
}

.items.items--small .items__control {
    width: 30px;
    font-size: 18px;
    font-weight: 600;
}

.items.items--small .items__current {
    width: 30px;
    font-size: 18px;
    font-weight: 600;
}

.items.items--small {
    width: 90px;
    font-size: 16px;
    height: 26px;
    text-align: center;
}

.items {
    background: #f2ede7;
    width: 120px;
    display: flex;
    font-size: 23px;
    height: 50px;
    overflow: hidden;
    margin-top: 20px;
}

.items__control {
    width: 40px;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-align: center;
}

.items__control:hover {
    background: #A04955;
    color: #FFF;
}

.items__current {
    width: 40px;
}

.counter_price {
    display: flex;
    justify-content: space-evenly;
}
.order{
    background: #dee2e6;
    width: 450px;
    height: 200px;
    margin-top: 30px;
    margin-left: 26%;
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 23px;
    padding-left: 20px;
}

.button_order {
    background: #A04955;
    width: 344px;
    height: 70px;
    text-align: center;
    margin: 35px;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 24px;
    padding-top: 15px;
}